.marginTop {
    margin-top: 25px;
    color : 'white';
}
.body{
    /* min-height: 'fit-content'; */
    height: 100vh;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
.button {
    
    margin-top: 5px;
}
.register {
    padding-left: 0px;
    margin-top: 10px;
}
.registration{
    padding-top: 0px;
    text-align: center;
}
.toggleactionbutton {
    
    margin-top: 0;
}
.appbar {
    height : 50px;
    color : 'white';
}
/* .main{
    height : "100%";
    width : "100%";
} */
.mainBack { 
    height: 100%;
    width: 100%;
    min-height: 100vh;
    padding-top: 0px;
    background-size:cover;  
    background-position: cover;
} 
.homeback{
    background-color:rgba(185, 184, 184, 0.2);
    min-height: 100vh;
    height: 100%;
    background-repeat: no-repeat; 
    background-position: cover; 
    background-size:cover;
    overflow: hidden;

}
.loginBack{
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginback{
    background-repeat: no-repeat; 
    background-position: cover; 
    background-size:cover; 
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    object-fit: cover;
}
.registerBack{
    background-image:
        url("../static/images/registerback.jpg");
    background-repeat: no-repeat; 
    background-position: cover; 
    background-size: cover; 
    /* justify-content: 'center'; */
    /* align-items: center; */
    left: 0;
    padding-top: 5px;
    margin-top: 0px;
    /* margin-left: 0.1px; */
    width: 100%;
    object-fit: cover;
    min-height: 100vh;
    position: absolute;
}
/* .aboutBack{
    background-image:
        url(https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/46cdbf04938b5c8ea60120a3/pexelsphoto3673557.jpeg);
    background-repeat: no-repeat; 
    background-position: cover; 
    background-size: cover; 
    margin-top: 0; 
    padding : 0; 
    justify-content: 'center';
    position: absolute;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #b24592; */
  background: linear-gradient(to right, #424242 25%, #212121 80%);
}
.custom {
    margin-top: 25px;
    filter:  brightness(0) invert(1);
}
.media{
    margin-top: 5px;
    /* position: absolute; */
    /* right: 0; */
    width: 100%;
    min-height: 360px;
}
/* .carousle{
  background: rgba(255, 255, 255, 0.596);
  overflow: hidden;
  border-radius: 7px;
} */
.carouslemain{
    /* object-fit: cover; */
    /* height: fit-content; */
   
}

.box{
    margin-top: 10px;
    margin-bottom: 5px ;
    margin-right: 5px;
    position: relative;
    padding: 10px 5px;
    background: rgba(170, 169, 169, 0.4);
    font-size: 20px;
    font-family: 'Lora', serif;
    line-height: 1.5;
    border-radius: 7px;
    width: 100%;
    min-height: 150px;
    /* box-shadow: 5px 3px 15px whitesmoke; */
    overflow: hidden;
}
/* .footer{
    /* height: 15%; */
    /* width: 100%; 
    margin-top: 10px;

    /* align-self: flex-end; 
    vertical-align: bottom;
    /* position: absolute; 
    bottom: 0px;

    
} */


