.marginTop {
    margin-top: 25px;
    color : 'white';
}
.button {
    
    margin-top: 5px;
}
.register {
    padding-left: 0px;
    margin-top: 10px;
}
.registration{
    padding-top: 0px;
    text-align: center;
}
.toggleactionbutton {
    
    margin-top: 0;
}
.appbar {
    height : 50px;
    background : 'linear-gradient(45deg, #FFE3E3 25%, #F3C5C5 80%)';
    color : 'black';
}
/* .main{
    height : "100%";
    width : "100%";
} */
.mainBack {
    background:  url(https://images02.nicepage.com/c461c07a441a5d220e8feb1a/dc8fb1e500cf5d99b9134449/26afbfd6f4b0f7d2c0352d2c78f559db.jpeg) ;
    /* height: 500px; */
    /* width: 100%;
    height: 100%; */
    background-repeat: no-repeat; 
    background-size:cover;
    background-position: cover;
} 
.loginBack{
 background-image:   
    url(https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/31087d27a14357e5875cc8ae/pexels-photo-3894515.jpeg),
    url(https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/e566dee78e6b5524bd450ea0/pexels-photo-3894519.jpeg),
    url(https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/b3309f6094e9555197a00076/pexels-photo-3894538.jpeg);
    background-repeat: no-repeat, no-repeat; 
    background-position: right ,center, left; 
    background-size: 35.2% 100vh, 33.33% 100vh, 33.33% 100vh;
    min-height: 500px;
   
}
.registerBack{
    background-image:
        url(https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/ed393553372b5fedbb31d038/pexelsphoto1002638.jpeg);
    background-repeat: no-repeat; 
    background-position: cover; 
    background-size: cover; 
    margin-top: 0; 
    padding : 0; 
}
.aboutBack{
    background-image:
        url(https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/46cdbf04938b5c8ea60120a3/pexelsphoto3673557.jpeg);
    background-repeat: no-repeat; 
    background-position: cover; 
    background-size: cover; 
    margin-top: 0; 
    padding : 0; 
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #b24592; */
  background: linear-gradient(to right, #424242 25%, #212121 80%);
}
.Image { 
    filter: grayscale(100%);
    margin-top: 25px;
    /* color : 'white'; */
 }



